In [22]:
import json # will be needed for saving preprocessing details
import numpy as np # for data manipulation
import pandas as pd # for data manipulation
from sklearn.model_selection import train_test_split # will be used for data split
from sklearn.preprocessing import LabelEncoder # for preprocessing
from sklearn.ensemble import RandomForestClassifier # for training the algorithm
from sklearn.ensemble import ExtraTreesClassifier # for training the algorithm
import joblib # for saving algorithm and preprocessing objects
import sqlite3
from geopy.geocoders import Nominatim

In [23]:
conn = sqlite3.connect("../../db.sqlite3")
cur = conn.cursor()
cur.execute('''select * from sqlite_master''')
l = cur.fetchall()
#we will populate a list with the names of your tables
tbl_name_list = []
for sql_type, sql_name, tbl_name, rootpage, sql in l:
    if sql_type == 'table':
        tbl_name_list.append(sql_name)
df_account = pd.read_sql_query("SELECT * FROM account_account", conn).drop(
    ["password","is_admin","is_staff","is_superuser","is_active","email","username"], axis=1
)
df_click = pd.read_sql_query("SELECT * FROM company_click", conn)
df_company = pd.read_sql_query("SELECT * FROM company_company", conn).drop(["name"],axis=1)
df = df_company.merge(df_click,left_on="id",right_on="company_id")
df.dtypes
df = df.drop(['id_x','id_y'],axis=1).sort_values(by=['date_click'])
df = df.merge(df_account,left_on="user_id",right_on="id")
df_searched = pd.read_sql_query("SELECT * FROM personal_search_input", conn)
df_searched = df_searched.sort_values(by=['date_search'], ascending=False).drop_duplicates(subset=['user_id'])
df = df.merge(df_searched.drop(['id'],axis=1),left_on="user_id",right_on="user_id",how="left").sort_values(by=["date_click"])
df = df[df.user_id==5].drop(["user_id","ad_id","company_id","id"],axis=1)
df['date_click'] = pd.to_datetime(df['date_click'])
df['date_joined'] = pd.to_datetime(df['date_joined'])
df['last_login'] = pd.to_datetime(df['last_login'])
df['birthDate'] = pd.to_datetime(df['birthDate'])
df['date_search'] = pd.to_datetime(df['date_search'])
df

,category,date_click,date_joined,last_login,birthDate,city,country,postcode,streetName,streetNumber,Text,date_search
0,electronics,2020-11-17 15:40:57.244353,2020-11-14 16:42:23.882927,2021-01-02 20:23:43.578461,2020-12-07 18:53:39.744654,Nancy,France,54000,sName,sNumber,five,2021-01-13 15:12:26.250992
1,"Tech & Entertainment , mass mediay",2020-11-17 15:43:15.745027,2020-11-14 16:42:23.882927,2021-01-02 20:23:43.578461,2020-12-07 18:53:39.744654,Nancy,France,54000,sName,sNumber,five,2021-01-13 15:12:26.250992
2,automobile,2020-11-17 15:45:26.724495,2020-11-14 16:42:23.882927,2021-01-02 20:23:43.578461,2020-12-07 18:53:39.744654,Nancy,France,54000,sName,sNumber,five,2021-01-13 15:12:26.250992
3,automobile,2020-11-17 15:45:44.612395,2020-11-14 16:42:23.882927,2021-01-02 20:23:43.578461,2020-12-07 18:53:39.744654,Nancy,France,54000,sName,sNumber,five,2021-01-13 15:12:26.250992
4,Music streaming service,2020-11-17 15:45:46.468919,2020-11-14 16:42:23.882927,2021-01-02 20:23:43.578461,2020-12-07 18:53:39.744654,Nancy,France,54000,sName,sNumber,five,2021-01-13 15:12:26.250992
5,Telecommunications,2020-11-17 15:45:47.517020,2020-11-14 16:42:23.882927,2021-01-02 20:23:43.578461,2020-12-07 18:53:39.744654,Nancy,France,54000,sName,sNumber,five,2021-01-13 15:12:26.250992
6,automobile,2020-11-17 15:45:48.245550,2020-11-14 16:42:23.882927,2021-01-02 20:23:43.578461,2020-12-07 18:53:39.744654,Nancy,France,54000,sName,sNumber,five,2021-01-13 15:12:26.250992
7,Beverage,2020-11-17 15:45:49.015516,2020-11-14 16:42:23.882927,2021-01-02 20:23:43.578461,2020-12-07 18:53:39.744654,Nancy,France,54000,sName,sNumber,five,2021-01-13 15:12:26.250992
8,Beverage,2020-11-17 15:45:49.611078,2020-11-14 16:42:23.882927,2021-01-02 20:23:43.578461,2020-12-07 18:53:39.744654,Nancy,France,54000,sName,sNumber,five,2021-01-13 15:12:26.250992
9,Cosmetic products,2020-11-17 15:45:50.259416,2020-11-14 16:42:23.882927,2021-01-02 20:23:43.578461,2020-12-07 18:53:39.744654,Nancy,France,54000,sName,sNumber,five,2021-01-13 15:12:26.250992
10,electronics,2020-11-17 15:45:50.844150,2020-11-14 16:42:23.882927,2021-01-02 20:23:43.578461,2020-12-07 18:53:39.744654,Nancy,France,54000,sName,sNumber,five,2021-01-13 15:12:26.250992
11,"Tech & Entertainment , mass mediay",2020-11-17 15:45:51.397570,2020-11-14 16:42:23.882927,2021-01-02 20:23:43.578461,2020-12-07 18:53:39.744654,Nancy,France,54000,sName,sNumber,five,2021-01-13 15:12:26.250992
12,automobile,2020-11-17 15:45:52.446752,2020-11-14 16:42:23.882927,2021-01-02 20:23:43.578461,2020-12-07 18:53:39.744654,Nancy,France,54000,sName,sNumber,five,2021-01-13 15:12:26.250992
13,Retail,2020-11-17 15:45:53.081968,2020-11-14 16:42:23.882927,2021-01-02 20:23:43.578461,2020-12-07 18:53:39.744654,Nancy,France,54000,sName,sNumber,five,2021-01-13 15:12:26.250992
14,Cosmetic products,2020-11-17 15:45:53.639159,2020-11-14 16:42:23.882927,2021-01-02 20:23:43.578461,2020-12-07 18:53:39.744654,Nancy,France,54000,sName,sNumber,five,2021-01-13 15:12:26.250992
15,Retail,2020-11-17 16:04:18.779432,2020-11-14 16:42:23.882927,2021-01-02 20:23:43.578461,2020-12-07 18:53:39.744654,Nancy,France,54000,sName,sNumber,five,2021-01-13 15:12:26.250992
16,Music streaming service,2020-11-17 16:05:36.709560,2020-11-14 16:42:23.882927,2021-01-02 20:23:43.578461,2020-12-07 18:53:39.744654,Nancy,France,54000,sName,sNumber,five,2021-01-13 15:12:26.250992
17,electronics,2020-11-17 16:12:47.017411,2020-11-14 16:42:23.882927,2021-01-02 20:23:43.578461,2020-12-07 18:53:39.744654,Nancy,France,54000,sName,sNumber,five,2021-01-13 15:12:26.250992
18,automobile,2020-11-17 16:13:13.361810,2020-11-14 16:42:23.882927,2021-01-02 20:23:43.578461,2020-12-07 18:53:39.744654,Nancy,France,54000,sName,sNumber,five,2021-01-13 15:12:26.250992
19,Music streaming service,2020-11-18 16:17:34.789166,2020-11-14 16:42:23.882927,2021-01-02 20:23:43.578461,2020-12-07 18:53:39.744654,Nancy,France,54000,sName,sNumber,five,2021-01-13 15:12:26.250992
20,electronics,2020-12-15 19:27:58.442023,2020-11-14 16:42:23.882927,2021-01-02 20:23:43.578461,2020-12-07 18:53:39.744654,Nancy,France,54000,sName,sNumber,five,2021-01-13 15:12:26.250992
21,electronics,2020-12-15 19:28:04.546106,2020-11-14 16:42:23.882927,2021-01-02 20:23:43.578461,2020-12-07 18:53:39.744654,Nancy,France,54000,sName,sNumber,five,2021-01-13 15:12:26.250992
22,automobile,2020-12-15 19:41:37.536989,2020-11-14 16:42:23.882927,2021-01-02 20:23:43.578461,2020-12-07 18:53:39.744654,Nancy,France,54000,sName,sNumber,five,2021-01-13 15:12:26.250992
23,e-commerce,2020-12-15 19:42:01.039615,2020-11-14 16:42:23.882927,2021-01-02 20:23:43.578461,2020-12-07 18:53:39.744654,Nancy,France,54000,sName,sNumber,five,2021-01-13 15:12:26.250992

In [24]:
df['location'] = df.streetNumber.map(str) + " , " + df.streetName + " , " + df.postcode + " , " + df.city + " , " + df.country
locator = Nominatim(user_agent="myGeocoder")
df['locatioan'] = locator.geocode(df['location'][0])
df['latitude'] = None
df['longitude'] = None
for i in range(len(df)):
    #print("{} , {}".format(i,df['location'][i]))

    if locator.geocode(df['location'][i]) == None:
        #print("{} , {}".format(i,df['location'][i].split(', ', 1)[1]))
        df['location'][i] = df['location'][i].split(', ', 1)[1]
        if locator.geocode(df['location'][i]) == None:
            df['location'][i] = df['location'][i].split(', ', 1)[1]
            if locator.geocode(df['location'][i]) == None:
                print()
            else:
                print("found 2 {}".format(i))
                location = locator.geocode(df['location'][i])
                print("Latitude = {}, Longitude = {}".format(location.latitude, location.longitude))
                df['latitude'][i] = location.latitude
                df['longitude'][i] = location.longitude
        else:
            print("found 1 {}".format(i))
            location = locator.geocode(df['location'][i])
            print("Latitude = {}, Longitude = {}".format(location.latitude, location.longitude))
            df['latitude'][i] = location.latitude
            df['longitude'][i] = location.longitude
    else:
        print("found 0 {}".format(i))
        location = locator.geocode(df['location'][i])
        print("Latitude = {}, Longitude = {}".format(location.latitude, location.longitude))
        df['latitude'][i] = location.latitude
        df['longitude'][i] = location.longitude
df = df.drop(["city","country","streetName","streetNumber","location","locatioan"],axis=1)
df.dtypes

D:\program files\anaconda\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
D:\program files\anaconda\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

found 2 0
Latitude = 48.69127075918047, Longitude = 6.1810051232421745

D:\program files\anaconda\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
D:\program files\anaconda\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

found 2 1
Latitude = 48.69127075918047, Longitude = 6.1810051232421745
found 2 2
Latitude = 48.69127075918047, Longitude = 6.1810051232421745
found 2 3
Latitude = 48.69127075918047, Longitude = 6.1810051232421745
found 2 4
Latitude = 48.69127075918047, Longitude = 6.1810051232421745
found 2 5
Latitude = 48.69127075918047, Longitude = 6.1810051232421745
found 2 6
Latitude = 48.69127075918047, Longitude = 6.1810051232421745
found 2 7
Latitude = 48.69127075918047, Longitude = 6.1810051232421745
found 2 8
Latitude = 48.69127075918047, Longitude = 6.1810051232421745
found 2 9
Latitude = 48.69127075918047, Longitude = 6.1810051232421745
found 2 10
Latitude = 48.69127075918047, Longitude = 6.1810051232421745
found 2 11
Latitude = 48.69127075918047, Longitude = 6.1810051232421745
found 2 12
Latitude = 48.69127075918047, Longitude = 6.1810051232421745
found 2 13
Latitude = 48.69127075918047, Longitude = 6.1810051232421745
found 2 14
Latitude = 48.69127075918047, Longitude = 6.1810051232421745
found 2 15
Latitude = 48.69127075918047, Longitude = 6.1810051232421745
found 2 16
Latitude = 48.69127075918047, Longitude = 6.1810051232421745
found 2 17
Latitude = 48.69127075918047, Longitude = 6.1810051232421745
found 2 18
Latitude = 48.69127075918047, Longitude = 6.1810051232421745
found 2 19
Latitude = 48.69127075918047, Longitude = 6.1810051232421745
found 2 20
Latitude = 48.69127075918047, Longitude = 6.1810051232421745
found 2 21
Latitude = 48.69127075918047, Longitude = 6.1810051232421745
found 2 22
Latitude = 48.69127075918047, Longitude = 6.1810051232421745
found 2 23
Latitude = 48.69127075918047, Longitude = 6.1810051232421745

category               object
date_click     datetime64[ns]
date_joined    datetime64[ns]
last_login     datetime64[ns]
birthDate      datetime64[ns]
postcode               object
Text                   object
date_search    datetime64[ns]
latitude               object
longitude              object
dtype: object

In [30]:
df["date_click_year"] = df["date_click"].dt.year
df["date_click_month"] = df["date_click"].dt.month
df["date_click_week"] = df["date_click"].dt.week
df["date_click_day"] = df["date_click"].dt.day
df["date_click_hour"] = df["date_click"].dt.hour
df["date_click_minute"] = df["date_click"].dt.minute
df["date_click_dayofweek"] = df["date_click"].dt.dayofweek

df["date_joined_year"] = df["date_joined"].dt.year
df["date_joined_month"] = df["date_joined"].dt.month
df["date_joined_week"] = df["date_joined"].dt.week
df["date_joined_day"] = df["date_joined"].dt.day
df["date_joined_hour"] = df["date_joined"].dt.hour
df["date_joined_minute"] = df["date_joined"].dt.minute
df["date_joined_dayofweek"] = df["date_joined"].dt.dayofweek

df["last_login_year"] = df["last_login"].dt.year
df["last_login_month"] = df["last_login"].dt.month
df["last_login_week"] = df["last_login"].dt.week
df["last_login_day"] = df["last_login"].dt.day
df["last_login_hour"] = df["last_login"].dt.hour
df["last_login_minute"] = df["last_login"].dt.minute
df["last_login_dayofweek"] = df["last_login"].dt.dayofweek

df["birthDate_year"] = df["birthDate"].dt.year
df["birthDate_month"] = df["birthDate"].dt.month
df["birthDate_week"] = df["birthDate"].dt.week
df["birthDate_day"] = df["birthDate"].dt.day
df["birthDate_hour"] = df["birthDate"].dt.hour
df["birthDate_minute"] = df["birthDate"].dt.minute
df["birthDate_dayofweek"] = df["birthDate"].dt.dayofweek

df["date_search_year"] = df["date_search"].dt.year
df["date_search_month"] = df["date_search"].dt.month
df["date_search_week"] = df["date_search"].dt.week
df["date_search_day"] = df["date_search"].dt.day
df["date_search_hour"] = df["date_search"].dt.hour
df["date_search_minute"] = df["date_search"].dt.minute
df["date_search_dayofweek"] = df["date_search"].dt.dayofweek
df = df.drop(['date_click','date_joined','last_login','birthDate','date_search'],axis=1)
df

,category,postcode,Text,latitude,longitude,date_click_year,date_click_month,date_click_week,date_click_day,date_click_hour,...,birthDate_hour,birthDate_minute,birthDate_dayofweek,date_search_year,date_search_month,date_search_week,date_search_day,date_search_hour,date_search_minute,date_search_dayofweek
0,electronics,54000,five,48.6913,6.18101,2020,11,47,17,15,...,18,53,0,2021,1,2,13,15,12,2
1,"Tech & Entertainment , mass mediay",54000,five,48.6913,6.18101,2020,11,47,17,15,...,18,53,0,2021,1,2,13,15,12,2
2,automobile,54000,five,48.6913,6.18101,2020,11,47,17,15,...,18,53,0,2021,1,2,13,15,12,2
3,automobile,54000,five,48.6913,6.18101,2020,11,47,17,15,...,18,53,0,2021,1,2,13,15,12,2
4,Music streaming service,54000,five,48.6913,6.18101,2020,11,47,17,15,...,18,53,0,2021,1,2,13,15,12,2
5,Telecommunications,54000,five,48.6913,6.18101,2020,11,47,17,15,...,18,53,0,2021,1,2,13,15,12,2
6,automobile,54000,five,48.6913,6.18101,2020,11,47,17,15,...,18,53,0,2021,1,2,13,15,12,2
7,Beverage,54000,five,48.6913,6.18101,2020,11,47,17,15,...,18,53,0,2021,1,2,13,15,12,2
8,Beverage,54000,five,48.6913,6.18101,2020,11,47,17,15,...,18,53,0,2021,1,2,13,15,12,2
9,Cosmetic products,54000,five,48.6913,6.18101,2020,11,47,17,15,...,18,53,0,2021,1,2,13,15,12,2
10,electronics,54000,five,48.6913,6.18101,2020,11,47,17,15,...,18,53,0,2021,1,2,13,15,12,2
11,"Tech & Entertainment , mass mediay",54000,five,48.6913,6.18101,2020,11,47,17,15,...,18,53,0,2021,1,2,13,15,12,2
12,automobile,54000,five,48.6913,6.18101,2020,11,47,17,15,...,18,53,0,2021,1,2,13,15,12,2
13,Retail,54000,five,48.6913,6.18101,2020,11,47,17,15,...,18,53,0,2021,1,2,13,15,12,2
14,Cosmetic products,54000,five,48.6913,6.18101,2020,11,47,17,15,...,18,53,0,2021,1,2,13,15,12,2
15,Retail,54000,five,48.6913,6.18101,2020,11,47,17,16,...,18,53,0,2021,1,2,13,15,12,2
16,Music streaming service,54000,five,48.6913,6.18101,2020,11,47,17,16,...,18,53,0,2021,1,2,13,15,12,2
17,electronics,54000,five,48.6913,6.18101,2020,11,47,17,16,...,18,53,0,2021,1,2,13,15,12,2
18,automobile,54000,five,48.6913,6.18101,2020,11,47,17,16,...,18,53,0,2021,1,2,13,15,12,2
19,Music streaming service,54000,five,48.6913,6.18101,2020,11,47,18,16,...,18,53,0,2021,1,2,13,15,12,2
20,electronics,54000,five,48.6913,6.18101,2020,12,51,15,19,...,18,53,0,2021,1,2,13,15,12,2
21,electronics,54000,five,48.6913,6.18101,2020,12,51,15,19,...,18,53,0,2021,1,2,13,15,12,2
22,automobile,54000,five,48.6913,6.18101,2020,12,51,15,19,...,18,53,0,2021,1,2,13,15,12,2
23,e-commerce,54000,five,48.6913,6.18101,2020,12,51,15,19,...,18,53,0,2021,1,2,13,15,12,2

In [31]:
x_cols = [c for c in df.columns if c != 'category' ]
# set input matrix and target column
X = df[x_cols]
y = df['category']
# show first rows of data
df.head()
# data split train / test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state=1234)
X_train
# fill missing values
train_mode = dict(X_train.mode().iloc[0])
X_train = X_train.fillna(train_mode)
print(train_mode)

{'postcode': '54000', 'Text': 'five', 'latitude': 48.69127075918047, 'longitude': 6.1810051232421745, 'date_click_year': 2020, 'date_click_month': 11, 'date_click_week': 47, 'date_click_day': 17, 'date_click_hour': 15, 'date_click_minute': 45, 'date_click_dayofweek': 1, 'date_joined_year': 2020, 'date_joined_month': 11, 'date_joined_week': 46, 'date_joined_day': 14, 'date_joined_hour': 16, 'date_joined_minute': 42, 'date_joined_dayofweek': 5, 'last_login_year': 2021, 'last_login_month': 1, 'last_login_week': 53, 'last_login_day': 2, 'last_login_hour': 20, 'last_login_minute': 23, 'last_login_dayofweek': 5, 'birthDate_year': 2020, 'birthDate_month': 12, 'birthDate_week': 50, 'birthDate_day': 7, 'birthDate_hour': 18, 'birthDate_minute': 53, 'birthDate_dayofweek': 0, 'date_search_year': 2021, 'date_search_month': 1, 'date_search_week': 2, 'date_search_day': 13, 'date_search_hour': 15, 'date_search_minute': 12, 'date_search_dayofweek': 2}

In [32]:
# convert categoricals
encoders = {}
for column in ['Text']:
    categorical_convert = LabelEncoder()
    X_train[column] = categorical_convert.fit_transform(X_train[column])
    encoders[column] = categorical_convert

In [33]:
# train the Random Forest algorithm
rf = RandomForestClassifier(n_estimators = 100)
rf = rf.fit(X_train, y_train)

In [34]:
# train the Extra Trees algorithm
et = ExtraTreesClassifier(n_estimators = 100)
et = et.fit(X_train, y_train)

In [35]:
# save preprocessing objects and RF algorithm
joblib.dump(train_mode, "./train_modeN.joblib", compress=True)
joblib.dump(encoders, "./encodersN.joblib", compress=True)
joblib.dump(rf, "./random_forestN.joblib", compress=True)
joblib.dump(et, "./extra_treesN.joblib", compress=True)

['./extra_treesN.joblib']